{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}

<!DOCTYPE html>
<html>

<head>
    <title>Image Survey</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- <link rel="stylesheet" href="survey_styles.css"> -->
</head>

<body>
    <div id="info" style="margin: 0 auto;">
        <h3>
            <center>Aspect Ratio Survey</center>
        </h3>
        <p>
            <center><b>Please go through these images and choose the one that you like, click on submit to move on to
                    the next pair.</center>
        </p>
    </div>

    <div id='countdown_timer'>
        <script>
            var count = 5;
            var timer = setInterval(function () {
                count--;
                if (count == 0) {
                    clearInterval(timer);
                }
                document.getElementById("countdown").innerHTML = count;
            }, 1000);
        </script>
        <!-- <h5><center>Countdown Timer</center></h5> -->
        <h3>
            <center><span id="countdown">5</span></center>
        </h3>
    </div>

    <div id="image-container" align="center"  style="border: 3px solid black; padding: 10px;">
        <!-- <img id="image1" src="https://res.cloudinary.com/drqnkfexf/image/upload/v1676998551/image_aesthetics/40264_hnex3y.jpg" alt="Image 1">
            <img id="image2" src="https://res.cloudinary.com/drqnkfexf/image/upload/v1676998620/image_aesthetics/5019_twxkvw.jpg" alt="Image 2"> -->

        <script>
            var images = [
                'https://res.cloudinary.com/drqnkfexf/image/upload/v1679072271/aspect_ratio/dravida5_0_slvgll.jpg',
                'https://res.cloudinary.com/drqnkfexf/image/upload/v1679072271/aspect_ratio/dravida5_wicrzy.jpg',
                'https://res.cloudinary.com/drqnkfexf/image/upload/v1679072270/aspect_ratio/dravida5_6_swxyew.jpg',
                'https://res.cloudinary.com/drqnkfexf/image/upload/v1679072270/aspect_ratio/dravida5_1_rozcrj.jpg',
                'https://res.cloudinary.com/drqnkfexf/image/upload/v1679072270/aspect_ratio/dravida5_7_rbesxu.jpg',
                'https://res.cloudinary.com/drqnkfexf/image/upload/v1679072270/aspect_ratio/dravida5_2_h5uj14.jpg',
                'https://res.cloudinary.com/drqnkfexf/image/upload/v1679072270/aspect_ratio/dravida5_3_gaxmd9.jpg',
                'https://res.cloudinary.com/drqnkfexf/image/upload/v1679072270/aspect_ratio/dravida5_8_bd4qnk.jpg',
                'https://res.cloudinary.com/drqnkfexf/image/upload/v1679072269/aspect_ratio/dravida5_9_reqanc.jpg',
                'https://res.cloudinary.com/drqnkfexf/image/upload/v1679072270/aspect_ratio/dravida5_4_nhqitn.jpg',
                'https://res.cloudinary.com/drqnkfexf/image/upload/v1679072269/aspect_ratio/dravida5_11_bebgk1.jpg',
                'https://res.cloudinary.com/drqnkfexf/image/upload/v1679072270/aspect_ratio/dravida5_5_mokxrm.jpg',
                'https://res.cloudinary.com/drqnkfexf/image/upload/v1679072269/aspect_ratio/dravida5_13_jqagjf.jpg',
                'https://res.cloudinary.com/drqnkfexf/image/upload/v1679072269/aspect_ratio/dravida5_10_bzlawu.jpg',
                'https://res.cloudinary.com/drqnkfexf/image/upload/v1679072269/aspect_ratio/dravida5_12_ppje5m.jpg',
                'https://res.cloudinary.com/drqnkfexf/image/upload/v1679072269/aspect_ratio/dravida5_14_jqkyev.jpg',
                
            ];

            $('<button class="btn btn-default" background-color="black"><img class="fade-in" src="' + images[Math.floor(Math.random() * images.length)] + '" ></button>').appendTo('#image-container');
            $('<button class="btn btn-default" style="margin-left: 3em;"><img class="fade-in" src="' + images[Math.floor(Math.random() * images.length)] + '" ></button>').appendTo('#image-container');
        </script>
    </div>

    <br>

    <div id='subbut' align="center">
        <form id="survey-form">
            <input type="hidden" id="image-pair" name="image-pair" value="">
            <input type="hidden" id="selected-image" name="selected-image" value="">
            <button type="submit" class="btn btn-primary">Next</button>
        </form>
    </div>

    <script>

        setTimeout(function () {
            window.location.reload();
        }, 5000);

    </script>

</body>

</html>
{% endblock %}