body {
    margin: 0;
    padding: 0;
}

h1, h3, #countdown_timer {
    text-align: center;
}

#countdown_timer {
    text-align: center;
}

.flex-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    flex-wrap: wrap;
}

.flex2 {
    box-sizing: border-box;
    width: 48%; 
    margin: 1%;
    max-height: 300px; 
}

img {
    width: 100%;
    height: auto;
    display: block;
}

img:hover {
    border: 2px solid red;
}

/* Add this media query for landscape mode */
@media screen and (max-width: 990px) and (orientation: landscape) {
    .flex2 {
        width: 45%; /* adjust as needed */
        height: 37vh; /* viewport height */
    }
    
    p {
        font-size: 70%; 
    }
    h3 {
        font-size: 90%; 
    }
    h1 {
        font-size: 100%;
        font-weight: bold;
    }

    img {
        height: 100%; /* adjust as needed */
        object-fit: fill; /* this will ensure that images are scaled correctly */
    }
}
